<<<<<<< HEAD
/* src/index.css */
=======
>>>>>>> b8278f917f35818945ed33cd372e775aee89f301
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
=======
>>>>>>> b8278f917f35818945ed33cd372e775aee89f301
